a {
  color: inherit;
}
.button {
  display: inline-block;
  padding: 10px 0;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: transform 0.3s;
}
.button:hover {
  transform: translateY(-5px);
}
.hero {
  height: 1000px;
  background-color: var(--lightblue);
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}
.hero__info {
  max-width: 560px;
  margin: 0 auto;
  padding: 220px 20px 70px;
  text-align: center;
  color: #fff;
}
.hero__info h1 {
  font-size: 45px;
  line-height: 1.3em;
}
.hero__info p {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 45px;
}
.hero__download-button {
  width: 165px;
  color: var(--darkblue);
  margin-right: 25px;
  background: #fff;
}
.hero__contact-button {
  width: 145px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
.hero__smartphone {
  display: block;
  margin: 0 auto;
}
.marketing-one {
  padding-top: 170px;
  padding-bottom: 140px;
  background: #fafafc;
}
.marketing-one .wrapper {
  max-width: 1030px;
  display: flex;
  justify-content: space-between;
}
.marketing-one__smartphone {
  height: 560px;
  margin-right: 90px;
  margin-top: 180px;
}
.marketing-one__cards {
  height: 840px;
  width: 670px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.marketing-one__card {
  height: 325px;
  width: 270px;
  text-align: center;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0 30px;
  line-height: 1.45em;
  cursor: default;
  transition: transform 0.3s;
  user-select: none;
}
.marketing-one__card:hover {
  transform: translateY(-10px);
}
.marketing-one__card img {
  margin: 60px auto 0;
}
.marketing-one__card h4 {
  color: var(--darkblue);
  margin-top: 30px;
  margin-bottom: 25px;
}
.marketing-one__card p {
  color: var(--greyblue);
}
.marketing-one__card:first-of-type {
  align-self: start;
  justify-self: end;
}
.marketing-one__card:nth-of-type(2) {
  align-self: end;
  justify-self: end;
}
.marketing-one__card:nth-of-type(3) {
  align-self: start;
  justify-self: start;
}
.marketing-one__card:last-of-type {
  align-self: end;
  justify-self: start;
}
.marketing-two {
  padding-bottom: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketing-two__info {
  max-width: 470px;
  text-align: end;
  margin-top: 150px;
}
.marketing-two__info h2 {
  font-size: 30px;
  color: var(--darkblue);
  margin-bottom: 50px;
}
.marketing-two__info p {
  font-size: 14px;
  color: var(--greyblue);
  line-height: 1.5em;
}
.marketing-two__info-button {
  background: var(--lightblue);
  width: 200px;
  text-align: center;
  color: #fff;
  margin-top: 35px;
}
.marketing-two__cards {
  max-width: 545px;
  margin-top: 90px;
  min-height: 430px;
}
.marketing-two__card {
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 25px 110px 0 25px;
  border-radius: 5px;
  height: 75px;
  overflow: hidden;
  cursor: default;
  user-select: none;
  transition: padding-top 0.3s, height 0.3s, background 0.3s;
}
.marketing-two__card_active {
  background: var(--lightblue);
  height: 135px;
  padding-top: 30px;
}
.marketing-two__card:not(:last-of-type) {
  margin-bottom: 20px;
}
.marketing-two__card div {
  display: flex;
  align-items: center;
}
.marketing-two__card div h4 {
  color: var(--darkblue);
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
}
.marketing-two__card p {
  font-size: 14px;
  color: #fff;
  line-height: 1.5em;
  padding: 10px 0 31px 50px;
}
.marketing-three {
  background: #fafafc;
  padding-top: 70px;
  padding-bottom: 80px;
}
.marketing-three .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketing-three__img {
  transition: transform 0.3s;
}
.marketing-three__img:hover {
  transform: translateY(-10px) scale(1.02);
}
.marketing-three__info {
  max-width: 460px;
}
.marketing-three__info h2 {
  font-size: 30px;
  color: var(--darkblue);
  margin-top: 25px;
}
.marketing-three__info p {
  color: var(--greyblue);
  font-size: 14px;
  line-height: 1.5em;
}
.marketing-three__info-platforms {
  margin: 40px 0;
}
.marketing-three__info-platforms div {
  display: flex;
  align-items: center;
}
.marketing-three__info-platforms div:first-of-type {
  margin-bottom: 20px;
}
.marketing-three__info-platforms div h4 {
  color: var(--darkblue);
  font-size: 14px;
  margin-left: 10px;
}
.marketing-four {
  background-color: var(--lightblue);
  background-image: url(../img/background2.png);
  background-position: top;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 95px;
  position: relative;
}
.marketing-four .wrapper {
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marketing-four__img {
  justify-self: flex-start;
  margin-left: 70px;
}
.marketing-four__info {
  max-width: 450px;
  margin-left: 30px;
}
.marketing-four__info h2 {
  font-size: 30px;
  color: var(--darkblue);
}
.marketing-four__info p {
  font-size: 14px;
  color: #fff;
  line-height: 1.8em;
  margin: 35px 0;
}
.marketing-four__getit a {
  display: inline-block;
  transition: transform 0.3s;
}
.marketing-four__getit a:first-of-type {
  margin-right: 30px;
}
.marketing-four__getit a:hover {
  transform: translateY(-5px);
}
.marketing-four__getapp {
  display: block;
  text-align: center;
  padding: 25px 90px;
  position: absolute;
  background: linear-gradient(180deg, #fe7570, #f6387d);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  bottom: -30px;
  left: calc(50% - 191px);
  border-radius: 2px;
  transition: transform 0.3s;
}
.marketing-four__getapp:hover {
  transform: translateY(-5px);
}
@media screen and (max-width: 1150px) {
  .marketing-two {
    flex-direction: column;
  }
  .marketing-two__info {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1060px) {
  .marketing-one__smartphone {
    display: none;
  }
  .marketing-one__cards {
    margin: 0 auto;
  }
  .marketing-three .wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .marketing-one {
    padding: 50px 0;
  }
  .marketing-one__cards {
    height: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  .marketing-one__card {
    margin-top: 40px;
  }
  .marketing-one__card:nth-of-type(odd) {
    align-self: flex-end;
  }
  .marketing-four__getit a:first-of-type {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 650px) {
  .marketing-four .wrapper {
    flex-direction: column;
  }
  .marketing-four__img {
    align-self: flex-end;
    margin: 0 auto 50px;
  }
}
@media screen and (max-width: 600px) {
  .marketing-two {
    padding-bottom: 50px;
  }
  .marketing-two__card {
    padding-right: 60px;
  }
  .marketing-two__card_active {
    height: 150px;
  }
  .marketing-three__img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .marketing-two__card_active {
    height: 170px;
  }
}
@media screen and (max-width: 400px) {
  .hero__download-button {
    display: block;
    margin: 0 auto;
  }
  .hero__contact-button {
    display: block;
    margin: 20px auto 0;
  }
  .marketing-two__card_active {
    height: 190px;
  }
  .marketing-four__getapp {
    padding: 25px 45px;
    left: calc(50% - 146px);
  }
}
@media screen and (max-width: 360px) {
  .marketing-one__cards {
    width: 100%;
  }
}
